---
layout: layouts/inner-flare-base.njk
---
<article class="blog-wrap post">
  <p class="post-meta">
    <a href="/inner-flare/blog/">← All posts</a> &nbsp;·&nbsp;
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </p>
  <h1 class="post-title">{{ title }}</h1>
  {%- if tags | length %}
  <ul class="topic-list">
    {%- for topic in tags %}
    {%- if topic != "inner-flare-posts" %}
    <li><a class="topic-pill" href="/inner-flare/blog/tags/{{ topic | slugify }}/">{{ topic | topicLabel }}</a></li>
    {%- endif %}
    {%- endfor %}
  </ul>
  {%- endif %}
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
